@page
@model BPMN.Pages.ProjectModel
@{
}

<title>Проект</title>
<style>
    #project-container {
        margin-top: 50px;
    }

    #project-container h1 {
        color: #007bff;
    }

    #project-container .btn-success {
        margin-right: 10px;
    }

    #project-container .diagram-list {
        list-style: none;
        padding-left: 0;
    }

    #project-container .diagram-item {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        background-color: #fff;
    }

    #project-container .diagram-name {
        font-weight: bold;
        margin-bottom: 5px;
    }

    #project-container .diagram-actions {
        margin-top: 10px;
    }

    #project-container .alert {
        margin-top: 20px;
    }
</style>

<body>
    <div id="project-container">

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }

        <h1>@Model.Project.Name</h1>
        <p>@Model.Project.Description</p>
        <p>Создатель проекта: @Model.Project.CreatorName</p>

        @if (Model.Project?.Diagrams != null && Model.Project.Diagrams.Any())
        {
            <h2>Диаграммы</h2>
            <ul class="diagram-list">
                @foreach (var diagram in Model.Project.Diagrams)
                {
                    <li class="diagram-item">
                        <span class="diagram-name">@diagram.Name</span>
                        <!-- Кнопка для выполнения диаграммы -->
                        <form method="post" asp-page-handler="ExecuteDiagram" asp-route-diagramId="@diagram.Id" asp-route-projectId="@Model.Project.Id">
                            <button type="submit" class="btn btn-success">Выполнить диаграмму</button>
                        </form>
                        <!-- Кнопка для открытия диаграммы -->
                        <a asp-page="/UpdateDiagram" asp-route-diagramId="@diagram.Id" class="btn btn-primary">Открыть диаграмму</a>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>Нет доступных диаграмм для этого проекта.</p>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }

        <!-- Кнопка для перехода на страницу добавления диаграммы -->
        <a asp-page="/AddDiagram" asp-route-projectId="@Model.Project.Id" class="btn btn-primary">Добавить диаграмму</a>
    </div>
</body>
