@page
@model BPMN.Pages.ProjectsModel
@{
}

<style>
    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 0 20px;
    }

    h1 {
        text-align: center;
        color: #333;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 20px;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h3 {
        margin-top: 0;
        color: #007bff;
    }

    p {
        margin: 0;
        color: #555;
    }

    .no-projects {
        text-align: center;
        color: #777;
    }
</style>

<body>

    <div class="container">
        <h1>Проекты</h1>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }

        @if (Model?.Projects != null && Model.Projects.Any())
        {
            <ul>
                @foreach (var project in Model.Projects)
                {
                    <li>
                        <h3>@project.Name</h3>
                        <p>@project.Description</p>
                        <p>Creator ID: @project.CreatorId</p>
                        <a asp-page-handler="Project" asp-route-projectId="@project.Id">Открыть</a>
                    </li>
                }
            </ul>
        }
        else
        {
            <p class="no-projects">У пользователя еще нет проектов</p>
        }
    </div>
</body>