@page
@model BPMN.Pages.UpdateDiagramModel
@{
    ViewData["Title"] = "Update Diagram";
}

<head>
    <meta charset="utf-8">
    <title>BPMN Editor</title>
    <!-- Подключение стилей для диаграмм BPMN и иконок BPMN -->
    <link rel="stylesheet" href="https://unpkg.com/bpmn-js/dist/assets/diagram-js.css">
    <link rel="stylesheet" href="https://unpkg.com/bpmn-js/dist/assets/bpmn-font/css/bpmn.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-pzjw8f+ua7Kw1TIqH2FWP4j0SkmPIT3yKxxkIY8POB1Biy1/EmDyF/6NqmgjIv9k" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/css/updateDiagram.css">
</head>

<body>

    <div class="container">
        <h1 class="my-4">Редактор BPMN - @Model.DiagramName</h1>

        <!-- Контейнер для отображения редактора BPMN -->
        <div id="canvas" data-diagram-id="@Model.DiagramId"></div>

        <!-- Форма для сохранения диаграммы -->
        <form method="post" asp-page-handler="Save" class="form-container">
            <fieldset class="form-group">
                <!-- Поле для ввода имени диаграммы -->
                <label for="Name" class="form-label">Имя диаграммы:</label>
                <input type="text" id="Name" name="Name" class="form-control" value="@Model.DiagramName" maxlength="65" style="margin-bottom: 5px" required />

                <!-- Скрытое поле для передачи XML-кода диаграммы -->
                <input type="hidden" id="XMLDiagram" name="XMLDiagram" />

                <!-- Скрытое поле для передачи Id диаграммы -->
                <input type="hidden" id="Id" name="Id" value="@Model.DiagramId" />

                <!-- Скрытое поле для передачи projectId -->
                <input type="hidden" id="ProjectId" name="ProjectId" value="@Model.ProjectId" />
            </fieldset>

            <!-- Кнопка для сохранения диаграммы -->
            <button type="button" class="btn btn-primary" style="margin-bottom: 5px" onclick="exportBpmnXml()">Сохранить диаграмму</button>

            <!-- Кнопка для отправки формы -->
            <input hidden id="saveButton" type="submit" value="Save">
        </form>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                <pre>@TempData["SuccessMessage"]</pre>
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }

        <form method="post" asp-page-handler="ExecuteDiagram" class="form-container">
            <input type="hidden" name="Id" value="@Model.DiagramId" />
            <input type="hidden" name="ProjectId" value="@Model.ProjectId" />
            <input type="hidden" name="Name" value="@Model.DiagramName" />
            <input type="hidden" id="ExecuteXMLDiagram" name="XMLDiagram" />

            <button type="button" class="btn btn-success" style="margin-bottom: 5px" onclick="exportBpmnXmlForExecute()">Выполнить диаграмму</button>

            <!-- Кнопка для отправки формы -->
            <input hidden id="executeButton" type="submit" value="ExecuteDiagram">
        </form>
    </div>

    <!-- Подключение библиотеки bpmn-js Modeler -->
    <script src="~/js/bpmn.js"></script>
    <script src="~/dist/bundle.js"></script>
    <script>
        // Обеспечьте доступность функции в глобальном контексте
        window.exportBpmnXml = exportBpmnXml;
        window.exportBpmnXmlForExecute = exportBpmnXmlForExecute;
    </script>
</body>
